{% extends "base.html" %}

{% block start%}
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <h2>Register</h2>
            <hr>
            {% if messages %}
            
              <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}        
              </div>        
            
            {% endif %} 
            
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="first_name" aria-describedby="first_name"> 
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="last_name" aria-describedby="last_name"> 
                </div>  
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Username</label>
                  <input type="text"  name=" username" class="form-control" id="exampleInputPassword1">
                  <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>  -->
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password"  name=" password" class="form-control" id="exampleInputPassword1">
                </div>
                <p>Already have an account?<a href="/login/">Login</a></p>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </form>
          </div>  
    </div>
{% endblock %} 